<div class="modal-body interstitial-modal">
  <h3>{{highlight}}</h3>
  <p>{{message}}</p>
</div>
<div class="modal-footer">
  {{d-button class="btn-primary" action="cancel" label="cancel"}}
  {{d-button class="btn-primary" action="proceed" label="proceed"}}
</div>
