<h4>You're invited to help spread awareness</h4>

<a href="javascript:void(0)" {{action "share" this "facebook"}}>
  <i class="fa fa-facebook-square"></i>
</a>

<a href="javascript:void(0)" {{action "share" this "twitter"}}>
  <i class="fa fa-twitter-square"></i>
</a>

<!--<a href="javascript:void(0)" {{action "share" this "linked in"}}>-->
  <!--<i class="fa fa-linkedin-square"></i>-->
<!--</a>-->

<!--<a href="javascript:void(0)" {{action "share" this "email"}}>-->
  <!--<i class="fa fa-envelope-square"></i>-->
<!--</a>-->
